<div ng-cloak ng-controller="SurveyDetailCtrl">
    <md-content>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="client in detailsurvey" ng-click="null">
                <img ng-src="img/icons/baseline_arrow_forward_ios_black_18dp.png" class="md-avatar" alt="sales" />
                <div class="md-list-item-text" layout="column">
                    <h3>{{ client.sales }}</h3>
                    <h3>{{ client.client|lowercase }}</h3>
                    <h3>{{ client.address|lowercase }}</h3>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
