<link rel="stylesheet" href="../css/test.css" />
<div ng-cloak ng-controller="BtsCtrl">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="lokasi">
        <md-content class="md-padding">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
              <md-list-item ng-repeat="cat in bts" ng-click="doAction()">
                <p class="md-primary"> {{ cat.bts }} </p>
                <p class="md-secondary"> {{ cat.location }} </p>
              </md-list-item>
              <md-divider></md-divider>
          </md-list>
          <md-list>
            <md-list-item ng-click="doSecondaryAction($event)">
              <p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
              <md-button class="md-secondary">Reload</md-button>
            </md-list-item>
          </md-list>

        </md-content>
      </md-tab>
      <md-tab label="cabang">
        <md-content class="md-padding">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
            <md-list-item ng-repeat="cat in bts" ng-click="doAction()">
              <p class="md-primary"> {{ cat.bts }} </p>
              <p class="md-secondary"> {{ cat.branch }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list>
          <md-list-item ng-click="doSecondaryAction($event)">
            <p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
            <md-button class="md-secondary">Reload</md-button>
          </md-list-item>
        </md-list>
      </md-content>
      </md-tab>
      <md-tab label="PTP Wireless">
        <md-content class="md-padding">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
            <md-list-item ng-repeat="cat in bts" ng-click="doAction()">
              <p class="md-primary"> {{ cat.name }} </p>
              <p class="md-secondary"> {{ cat.apcount }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list>
          <md-list-item ng-click="doSecondaryAction($event)">
            <p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
            <md-button class="md-secondary">Reload</md-button>
          </md-list-item>
        </md-list>
      </md-content>
      </md-tab>
      <md-tab label="Jumlah AP">
        <md-content class="md-padding">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
            <md-list-item ng-repeat="cat in bts" ng-click="doAction()">
              <p class="md-primary"> {{ cat.bts }} </p>
              <p class="md-secondary"> {{ cat.apcount }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list>
          <md-list-item ng-click="doSecondaryAction($event)">
            <p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
            <md-button class="md-secondary">Reload</md-button>
          </md-list-item>
        </md-list>
      </md-content>
      </md-tab>
      <md-tab label="Jumlah Pelanggan">
        <md-content class="md-padding">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
            <md-list-item ng-repeat="cat in bts" ng-click="doAction()">
              <p class="md-primary"> {{ cat.bts }} </p>
              <p class="md-secondary"> {{ cat.apcount }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list>
          <md-list-item ng-click="doSecondaryAction($event)">
            <p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
            <md-button class="md-secondary">Reload</md-button>
          </md-list-item>
        </md-list>
      </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

