<link rel="stylesheet" href="../css/test.css" />
<div ng-cloak ng-controller="SalesCtrl">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom md-selected="apptab.selected">
      <md-tab label="visit">
        <md-content class="md-padding" md-swipe-left="swipeTab(1)">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
              <md-list-item ng-repeat="cat in visits" ng-click="doAction()">
                <p class="md-primary"> {{ cat.name }} </p>
                <p class="md-secondary"> {{ cat.val }} </p>
              </md-list-item>
              <md-divider></md-divider>
          </md-list>
          <md-list>
            <md-list-item ng-click="reload($event)">
              <p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
              <md-button class="md-secondary">Reload</md-button>
            </md-list-item>
          </md-list>
        </md-content>
      </md-tab>
      <md-tab label="penawaran">
        <md-content class="md-padding" md-swipe-right="swipeTab(0)" md-swipe-left="swipeTab(2)">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
            <md-list-item ng-repeat="cat in offers" ng-click="doAction()">
              <p class="md-primary"> {{ cat.name }} </p>
              <p class="md-secondary"> {{ cat.val }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list>
          <md-list-item ng-click="reload($event)">
            <p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
            <md-button class="md-secondary">Reload</md-button>
          </md-list-item>
        </md-list>
      </md-content>
      </md-tab>
      <md-tab label="create fb baru">
        <md-content class="md-padding" md-swipe-right="swipeTab(1)" md-swipe-left="swipeTab(3)">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
            <md-list-item ng-repeat="cat in newfbs" ng-click="doAction()">
              <p class="md-primary"> {{ cat.name }} </p>
              <p class="md-secondary"> {{ cat.val }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list>
          <md-list-item ng-click="reload($event)">
            <p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
            <md-button class="md-secondary">Reload</md-button>
          </md-list-item>
        </md-list>
      </md-content>
      </md-tab>
      <md-tab label="nominal penjualan">
        <md-content class="md-padding" md-swipe-right="swipeTab(2)" md-swipe-left="swipeTab(4)">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
            <md-list-item ng-repeat="cat in sellings" ng-click="doAction()">
              <p class="md-primary"> {{ cat.name }} </p>
              <p class="md-secondary"> {{ cat.val }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list>
          <md-list-item ng-click="reload($event)">
            <p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
            <md-button class="md-secondary">Reload</md-button>
          </md-list-item>
        </md-list>
      </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

