<link rel="stylesheet" href="../css/test.css" />
<div ng-cloak ng-controller="SurveyCtrl">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom md-selected="surveytab.selected">
      <md-tab label="hari">
        <md-content class="md-padding" md-swipe-left="swipeTab(1)">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
              <md-list-item ng-repeat="cat in daily" ng-click="doAction()">
                <p class="md-primary"> {{ cat.name }} </p>
                <p class="md-secondary"> {{ cat.val }} </p>
              </md-list-item>
              <md-divider></md-divider>
          </md-list>
          <md-list>
            <md-list-item ng-style="widebuttonstyle" ng-click="doSecondaryAction($event)">
              <p></p>
              <md-button class="md-secondary">Reload</md-button>
            </md-list-item>
          </md-list>

        </md-content>
      </md-tab>
      <md-tab label="pekan">
        <md-content class="md-padding" md-swipe-right="swipeTab(0)" md-swipe-left="swipeTab(2)">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
            <md-list-item ng-repeat="cat in weekly" ng-click="doAction()">
              <p class="md-primary"> {{ cat.name }} </p>
              <p class="md-secondary"> {{ cat.val }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list>
          <md-list-item ng-style="widebuttonstyle" ng-click="doSecondaryAction($event)">
            <p></p>
            <md-button class="md-secondary">Reload</md-button>
          </md-list-item>
        </md-list>
      </md-content>
      </md-tab>
      <md-tab label="bulan">
        <md-content class="md-padding" md-swipe-right="swipeTab(1)" md-swipe-left="swipeTab(3)">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
            <md-list-item ng-repeat="cat in monthly" ng-click="doAction()">
              <p class="md-primary"> {{ cat.name }} </p>
              <p class="md-secondary"> {{ cat.val }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list>
          <md-list-item ng-style="widebuttonstyle" ng-click="doSecondaryAction($event)">
            <p></p>
            <md-button class="md-secondary">Reload</md-button>
          </md-list-item>
        </md-list>
      </md-content>
      </md-tab>
      <md-tab label="quarter">
        <md-content class="md-padding" md-swipe-right="swipeTab(2)" md-swipe-left="swipeTab(4)">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
            <md-list-item ng-repeat="cat in quarterly" ng-click="doAction()">
              <p class="md-primary"> {{ cat.name }} </p>
              <p class="md-secondary"> {{ cat.val }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list>
          <md-list-item ng-style="widebuttonstyle" ng-click="doSecondaryAction($event)">
            <p></p>
            <md-button class="md-secondary">Reload</md-button>
          </md-list-item>
        </md-list>
      </md-content>
      </md-tab>
      <md-tab label="tahun">
        <md-content class="md-padding" md-swipe-right="swipeTab(3)" md-swipe-left="swipeTab(5)">
          <md-list ng-cloak="" class="listdemoListControls" ng-app="MyApp">
            <md-list-item ng-repeat="cat in yearly" ng-click="doAction()">
              <p class="md-primary"> {{ cat.name }} </p>
              <p class="md-secondary"> {{ cat.val }} </p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
        <md-list>
          <md-list-item ng-style="widebuttonstyle" ng-click="doSecondaryAction($event)">
            <p></p>
            <md-button class="md-secondary">Reload</md-button>
          </md-list-item>
        </md-list>
      </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

